@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 2rem;
}
a{
    text-decoration: none;
    color: #fff;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
/****************************/
/*****ANASAYFA BASLANGIC*****/
/****************************/

/*HEADER BASLANGIC*/
.header-index{
    background-image: linear-gradient(rgba(0, 0, 0, .7) , rgba(0, 0, 0, .8)) , url(img/home.jpg);
    background-position: center;
    background-size: cover;
}
.navbar-toggler{
    color: #fff;
    background-color: #fff;
}
.collapse{
    flex-direction: column;
    align-items: flex-end;
}
.collapse-menu2 li{
    display: inline-block;
    margin-right: 1rem;
}
.collapse-menu2 li a{
    font-weight: 500;
}
.nav-item:not(:last-child){
    margin-right: 1rem;
}
.nav-link{
    color: #fff;
    transition: all .3s linear;
    font-weight: 500;
    font-size: 1.2rem;
}
.nav-link:hover{
    color: rgb(134, 130, 130);
}
.main-text{
    height: 86vh;
}
.main-text-item h1{
    font-size: 44px;
    margin-bottom: 1rem;
}

/*SECTION ABOUT BASLANGIC*/
.aboutFirst{
    margin-top: 4.5rem;
}
.aboutSecond{
    background-image: linear-gradient(rgba(0, 0, 0, .8) , rgba(0, 0, 0, .8)) , url(img/home.jpg);
    background-position: center;
    background-size: cover;
    padding: 6rem 0;
}
.aboutSecond-item button{
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: .5rem 1.5rem;
}
.aboutSecond-item button:hover{
    background-color: #fff;
    color: gray;
}

/*SECTION BLOG BASLANGIC*/
.image{
    margin-bottom: 1rem;
}
.image img{
    width: 100%;
}
/*FOOTER BASLANGIC*/
.footer-index{
    background-color: #020a20;
    padding: 3rem 0;
}
.footer-indexLeft-text h6{
    font-size: 1.1rem;
    font-weight: 600;
}
.text-first{
    font-size: .9rem;
    margin-bottom: .5rem;
}
.text-second{
    font-size: .8rem;
    margin-bottom: 0;
}
.footer-indexLeft-list li{
    display: inline-block;
    margin-right: .5rem;
    font-size: .8rem;
}
.footer-indexLeft-link h6{
    font-weight: 600;
    margin-bottom: 1.6rem;
    font-size: .9rem;
}
.footer-indexLeft-link-list a{
    font-size: .8rem;
    transition: all .3s;
}
.footer-indexLeft-link-list li:hover a{
    color: gray;
}
.footer-indexRight-Link h6{
    font-size: .9rem;
    color: #fff;
}
.footer-indexRight-list li a{
    font-size: .8rem;
    transition: all .3s;
}
.footer-indexRight-list li:hover a{
    color: gray;
}
.list-mb{
    margin-top: 2rem;
}
.form-control{
    border-radius: 0;
    border: 2px solid #fff;
    background-color: #020a20;
}
.form-control:focus{
    box-shadow: none;
    border: 2px solid #fff;
    background-color: #020a20;
    color: #fff;
    font-size: .8rem;
}
.form-control::placeholder{
    color: gray;
    font-size: .8rem;
}
.footer-button{
    border: 2px solid #fff;
    color: #fff;
    font-size: .9rem;
    font-weight: 600;
    padding: .5rem 2rem;
}
.footer-button:hover{
    border: 2px solid #fff;
    color: #020a20;
    background-color: #fff;
}
.footer-button:focus{
    border: 2px solid #fff;
}
.social-media-list li a{
    font-size: 1.7rem;
    transition: all .3s;
}
.social-media-list li a:hover{
    color: gray;
}
.telif h6{
    color: #fff;
    font-size: .7rem;
}
.text-link span{
    margin-right: 5rem;
}
.text-link span a{
    text-decoration: underline;
}
/****************************/
/*****ANASAYFA BITIS*****/
/****************************/

/****************************/
/*****TAKIM BASLANGIC*****/
/****************************/

/*HEADER ALANI BASLANGIC*/
.header-team{
    background-image: linear-gradient(rgba(0, 0, 0, .7) , rgba(0, 0, 0, .8)) , url(img/hero.jpg);
    background-position: top;
    background-size: cover;
}
.header-text{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: end;
}
.header-text-item h1{
    letter-spacing: .5rem;
}

/*TAKIM ALANI BASLANGIC*/

/* takım alanı sol taraf */
.teamFiltre-link{
    border-bottom: 2px solid #a1a1a1;
}
.teamFiltre-list li{
    margin-bottom: .6rem;
}
.teamFiltre-list li a{
    color: #a1a1a1;
    font-weight: 500;
    transition: all .3s;
}
.teamFiltre-list li:hover a{
    color: #990033;
}
.teamFiltre-list li:first-child a{
    color: #990033;
}
.input-text{
    color: #990033;
}
.input-width{
    width: 100%;
    padding: 8px 15px;
    margin-bottom: 10px;
    color: #999999;
    font-size: .9rem;
}
.input-border{
    border: none;
    border-bottom: 2px solid #dfdfdf;
}
.teamFiltre-input input::placeholder{
    color: #999999;
}
.teamFiltre-input input:focus{
    outline: none;
    border-bottom: 2px solid #020a20;
}
.input-button{
    text-align: center;
}
.input-button button{
    background: none;
    border: none;
    color: #999999;
    border-bottom: 2px solid #a1a1a1;
    padding: .1rem 1.2rem;
    transition: all .3s;
}
.input-button button:hover{
    background-color: #020a20;
    color: #fff;
    border-bottom: 2px solid #020a20;
}
.alphabetic-search{
    border-bottom: 2px solid #a1a1a1;
    padding-bottom: 1.5rem;
}
.alphabetic-search h5{
    color: #990033;
}
.alphabetic-list li{
    display: inline-block;
    margin-right: .5rem;
}
.alphabetic-list a{
    color: #999999;
    transition: all .3s;
}
.alphabetic-list li:hover a{
    color: #990033;
}
/* takım alanı sağ taraf */
.teamPerson-profile img{
    width: 100%;
}
.teamPerson-profile{
    text-align: center;
}
.teamPerson-name a{
    color: #020a20;
}
.teamPerson-name a:hover{
    color:#990033
}
/****************************/
/*****TAKIM BITIS*****/
/****************************/















@media (max-width:769px){
    /*ANASAYFA*/
    .footer-index{
        text-align: center;
    }
    .footer-indexRight{
        display: none;
    }
    .social-media{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .form-control{
        display: block;
        width: 100%;
    }
    .footer-button{
        display: block;
        width: 100%;
        border-radius: 0;
        border-top: none;
    }
    .text-link{
        margin-left: 2rem;
    }
    .text-link span{
        margin-right: 2rem;
    }
    .text-link span a{
        font-size: .8rem;
    }
    .container{
        max-width: 90%;
    }
    .teamPerson{
        margin-top: 3rem;
    }
    .teamFiltre-link{
        text-align: center;
    }
    .input-text{
        text-align: center;
    }
    .alphabetic-search h5{
        text-align: center;
    }
}



@media (max-width:576px){
    /*ANASAYFA*/
    .container{
        max-width: 100%;
    }
    .navbar-brand img{
        width: 250px;
    }
    .main-text-item h1{
        font-size: 40px;
    }
    .footer-index{
        text-align: center;
    }
    .footer-indexRight{
        display: none;
    }
    .form-control{
        display: block;
        width: 100%;
    }
    .footer-button{
        display: block;
        width: 100%;
        border-radius: 0;
        border-top: none;
    }
    .social-media{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .text-link{
        margin-left: 2rem;
    }
    .text-link span{
        margin-right: 2rem;
    }
    .text-link span a{
        font-size: .8rem;
    }
}